* {
	box-sizing: border-box;
}
html, body {
	height: 100%;
	margin: 0;
  	padding: 0;
  	overflow: hidden;
}
body {
	background-color: white;
	font-family: 'Darker Grotesque', sans-serif;
	color: #fff;
}
.container {
	margin: 0 auto;
	max-width: 1170px;
}
.wrapper{
	width: 100%;
	overflow: auto;
	height: 100%;
}
.header-hero {
	position: relative;
    min-height: 100%;
    overflow: hidden;
	background: url("../images/background.jpg") center center /cover no-repeat;    
}

.container-header {
	padding-top: 64px;
	padding-right: 13px;
}
.clearfix:after {
    content: " "; 
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;  
}
.header-logo-link {
	margin-left: 88px;
    display: block;
    float: left;
}
.header-menu {
	list-style: none;
	float: right;
	margin: 0;
	padding-top: 5px;
    padding-bottom: 5px; 
}
.header-menu li {
	display: inline-block;
	margin-left: 32px;
	font-size: 18px;
}
.header-menu li:last-child {
	background-color: #ff256c;
	border-radius: 29px;
	padding: 0 40px;
	height: 47px;
	line-height: 46px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
.header-menu a {
	text-decoration: none;
	color: white;
}
.header-menu a:hover {
	text-decoration: underline;
}
.header-menu li:last-child a:hover {
	text-decoration: none;
}
.container-hero {
	padding-top: 180px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.play-btn-link {
	display: block;
	cursor: pointer;
}
.header-text {
	max-width: 338px;
}
.header-text-info{
	color: #e7e5e5;
}
.btn-header {
	font-size: 21px;
    background-color: #ff256c;
    border-radius: 29px;
    height: 47px;
    padding: 0 23px;
    color: white;
    font-weight: bold;
    border: 0;
    cursor: pointer;
    margin: 95px 0;
}
.container-how-it-works {
	color: #000;
	padding-top: 100px;
}
.how-it-works-text {
	margin: 0 auto;
	max-width: 397px;
	text-align: center;
}
.how-it-works-title {
	font-size: 34px;
}
.how-it-works-text-info {
	color: #999898;
}
.cards {
	margin: 46px 0 88px;
}
.card {
	width: 300px;
	height: 340px;
	margin-left: 58px; 
	display: inline-block;
	box-shadow: 2px 18px 35px -20px;
	position: relative; 
}
.card-img {
	position: absolute;
	left: 120px;
    top: 83px;
}
.cards-text {
	position: absolute;
    text-align: center;
}
.first-card-text {
	max-width: 124px;
	left: 86px;
	bottom: 98px;
}
.square-img {
	position: absolute;
	top: 30px;
    left: 35px;
    opacity: 0.3;
}
.blue-dot-img {
	position: absolute;
	right: 32px;
    top: 58px;
}
.pink-dot-img {
	position: absolute;
	top: 79px;
    left: 93px;
}
.pink-line-img {
	position: absolute;
	bottom: 32px;
    left: 49px;
}
.second-card-text {
	max-width: 130px;
    left: 82px;
    bottom: 82px;
}
.pink-line-second-card {
	position: absolute;
	top: 2px;
    right: 67px;
}
.half-circle-img {
	position: absolute;
	top: 165px;
    left: 60px;
}
.half-arc-img {
	position: absolute;
	bottom: 17px;
    right: 31px;
}
.smile {
	top: 90px;
    left: 129px;
}
.third-card-text {
	bottom: 98px;
	max-width: 110px;
    left: 95px;
}
.curve-img {
	position: absolute;
	top: 11px;
    right: 43px;
    width: 13px;
    height: 13px;
}
.line-img {
	position: absolute;
	bottom: 61px;
    left: 51px;
    width: 13px;
    height: 12px;
}
.our-services {
	height: 700px;
	background-image: url("../images/background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
}
.services-text {
	text-align: center;
    padding-top: 79px;
    max-width: 403px;
    margin: 0 auto;
}
.services-heading {
	font-size: 33px;
}
.services-text-info {
	color: #e7e5e5;
}
.first-group, .second-group {
	max-width: 803px;
	margin: 0 auto;
}
.small-card {
	display: inline-block;
	margin-top: 5px;
	max-width: 265px;
	padding: 34px 20px;
	text-align: center;
}
.first-group-text, .second-group-text {
	max-width: 217px;
	color: #e7e5e5;
}
.label-img, .book-img, .bug-img {
	display:  block;
	margin: 0 auto 40px;
}
.case-img, .camera-img, .tip-img {
	display:  block;
	margin: 0 auto 40px;
}
.payment {
	height: 300px;
	background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../images/notebook1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.container-payment {
	position: relative;
}
.price {
	height: 353px;
	width: 330px;
	background-color: white;
	position: absolute; 
	bottom: -324px;
	left: 201px;
	box-shadow: 2px 18px 35px -20px #868686; 
}
.price-text {
	text-align: center;
	width: 295px;
    margin-left: 17px; 
}
.price-number {
    margin-top: 57px;
    font-size: 76px;
    color: #000;
}
.color-price-text {
	color: #9f9b9b;
}
.fontsize-dollar {
	font-size: 36px;
}
.price-btn {
	margin-left: 100px;
    margin-top: 28px;
    background-color: #ff256c;
    border-radius: 29px;
    padding: 0 16px;
    height: 47px;
    border: none;
    text-align: center;
    color: white;
    font-size: 19px;
    font-weight: bold;
    cursor: pointer;
}
.payment-info {
    font-size: 20px;
    width: 278px;
    margin-top: 139px;
    position: absolute;
    top: 50%;
    right: 23%;
    transform: translateY(-50%);
}
.circle-img {
	position: absolute;
	top: 52px;
    left: 53px;
}
.half-arc-img-price {
	position: absolute;
	top: 62px;
    right: 61px;
    transform: rotate(-70deg);
}
.square-img-price {
	position: absolute;
	opacity: 0.6;
	bottom: 91px;
    left: 70px;
}
.triangle-img {
	position: absolute;
	bottom: 44px;
    right: 48px;
}
.container-testimonials {
	padding-top: 109px;
	margin-bottom: 103px;
}
.testimonials-text {
	text-align: center;
    margin: 0 auto;
    max-width: 373px;
}
.testimonials-heading {
	color: #000;
	font-size: 35px;
}
.testimonials-info {
	color: #9f9b9b;
}
.testimonials-text h4 {
	margin: 20px 0 0;
	color: #000;
}
.testimonials-colortext {
	color: #9f9b9b;
}
.company-sign {
	color: #9f9b9b;
}
.dots-menu {
	padding-top: 50px;
    margin-left: -37px;
    text-align: center;
}
.dot {
	height: 10px;
  	width: 10px;
  	background-color: white;
  	border: 1px solid #9f9b9b;
  	border-radius: 50%;
  	display: inline-block;
  	margin: 4px; 
}
.dot:hover {
	background-color: black;
  	border: black;
}
.partners {
	background-color: #f7f7f7;
	font-size: 30px;
}
.partners-list {
	list-style: none;
	line-height: 138px;
	color: #000;
	margin: 0;
}
.partners-list li {
	display: inline-block;
	margin-left: 104px;
}
.partner-one {
	font-weight: bold;
}
.partner-two {
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	font-size: 27px;
}
.partner-three {
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 27px;
}
.partner-four {
	font-family: 'Work Sans', sans-serif;
	font-size: 26px;
}
.partner-five {
	font-family: 'EB Garamond', serif;
}
.start-project {
	height: 300px;
	background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../images/notebook2.jpg") center center /cover no-repeat;
}
.start-project-text {
	font-size: 25px;
	width: 422px;
    text-align: center;
    margin: 0 auto;
    padding-top: 69px;
}
.start-project-button {
	text-align: center;
	padding-top: 50px;
}
.start-project-btn {
	background-color: #ff256c;
    border-radius: 29px;
    padding: 0 46px;
    height: 47px;
    border: none;
    text-align: center;
    color: white;
    font-size: 19px;
    font-weight: bold;
    cursor: pointer;
}
footer {
	background-color: #171717;
}
.container-footer {
	padding: 29px 0;
}
.footer-logo-link {
	margin-left: 53px;
    display: block;
    float: left;
}
.footer-menu {
	list-style: none;
	float: right;
}
.footer-menu li {
	display: inline-block;
	margin-left: 32px;
	font-size: 18px;
}
.footer-menu a {
	text-decoration: none;
	color: #a3a3a3;
}
.footer-menu a:hover {
	text-decoration: underline;
}
